.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
  }

.form{
    background-color: rgb(192, 192, 197);
    border-radius: 16px;
    padding: 2rem;
    box-shadow: 1px 1px 5px 1px rgba(158, 158, 158, 0.719);
}

.tknContainer {
  display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 100%;
    box-shadow: 1px 1px 5px 1px rgba(158, 158, 158, 0.719);
}