.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchContainer{
    border-radius: 16px;
    width: 20rem;
    height: 10rem;
    margin-bottom: 5%;
    margin-top: 5%;
    align-items: center;
    justify-content: center;
    background: rgb(192, 192, 197);
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 5px 1px rgba(158, 158, 158, 0.719);
}

.stepsContainer{
    margin: 0 auto;
    overflow: hidden;
    max-width: 700px;
    text-align: center;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    background-color: rgb(192, 192, 197);
    border-radius: 1rem;
    box-shadow: 1px 1px 5px 1px rgba(158, 158, 158, 0.719);
}

.centerSteps {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Optional, for center-aligned text within steps */
  }